.about {
    background-color: $off-white;
    color: $dark-grey;
    font-size: $s-size;
    min-height: 100vh;
    padding: $xl-size $m-size $m-size $m-size;
}

.about h1 {
    color: $primary;
    font-size: $l-size;
    margin-bottom: $l-size;
}

.about h1::selection, h3::selection {
    background: $primary;
    color: white;
}

.about-flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: $xl-size;
}

.about-details {
    padding: 0;
}

.about-image {
    width: 100%;
    border-radius: 50%;
}

.about-skills {
    display: flex;
    margin-top: $m-size;
}

.about-skills-column {
    margin-bottom: $m-size;
    width: 100%;
}

.about-skills-column h3 {
    margin-bottom: $xs-size;
}

.about-skills-column p {
    padding-left: $xs-size;
    margin: 0;
}

// Media query for desktop
@media (min-width: $desktop-breakpoint) {
    .about-flex {
        flex-direction: row;
        justify-content: space-around;
    }

    .about-details {
        //flex-grow: 1;
        margin-right: $xl-size;
        max-width: 60%;
        padding-right: $m-size;
    }

    .about-image {
        padding: $s-size;
        height: 100%;
        max-width: 40%;
    }

    .about-image:hover {
        border: 10px solid $primary;
        padding: 0;
    }
}