.contact {
    background-color: $dark-grey;
    color: white;
    min-height: 60vh;
    text-align: center;
}

.contact h1 {
    color: $primary;
    font-size: $l-size;
    padding-top: $l-size;
}

.contact h1::selection {
    background: rgba(136, 63, 184, 0.99);
    color: $dark-grey;
}

.contact svg path {
    fill: $primary;
    stroke: $primary;
}

// Media query for desktop
@media (min-width: $desktop-breakpoint) {
    
}