.footer {
    background-color: $dark-grey;
    color: white;
    font-size: $xs-size;
    height: 10vh;
    position: relative;
}

.footer-signature {
    bottom: 0;
    padding: $xs-size;
    position: absolute;
    right: 0;
    width: auto;
}

.footer-signature code::selection, span::selection {
    background: $primary;
    color: white;
}