.navbar {
    background: $dark-grey;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.50);
    //display: block;
    display: none;
    height: $xl-size;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width: 100%;
    z-index: 1000;
}

.navbar-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-logo {
    align-self: flex-start;
    margin-left: $s-size;
    margin-top: 0.8rem;
    width: $l-size;
}

.navbar-logo:hover {
    cursor: pointer;
}

.navbar-menu {
    display: block;
    margin-right: $s-size;
    padding-top: 0.5rem;
    width: $l-size;
}

.navbar-menu:hover {
    cursor: pointer;
}

.navbar-items {
    padding-left: 0;
    margin-top: 0;
    width: 100%;
}

.navbar-items-hide {
    display: none;
}

.navbar-item {
    background: $dark-grey;
    list-style-type: none;
    //padding: $s-size 0;
    text-align: center;
}

.navbar-link {
    color: $stone;
    font-size: $m-size;
}

.navbar-link:hover {
    color: $primary;
}

.navbar-link:active {
    color: darken($primary, 10%);
}

.navbar-item a::selection {
    background: rgba(226, 213, 205, 0.99);
    color: $primary;
}

.navbar-item > .active {
    color: $primary;
}

.navbar-link:hover {
    color: $primary;
    cursor: pointer;
}

// Animation Controls
@media (prefers-reduced-motion: no-preference) {
    .navbar, .navbar-logo {
        animation: navbar-slide-in 1s ease-in 5s backwards;
    }

    .navbar-items, .navbar-item, .navbar-link {
        animation: fade-in 1s ease-in 5.8s backwards;
    }
}

@keyframes navbar-slide-in {
    from {
        font-size: 0;
        height: 0rem;
    }
    to {
        font-size: $m-size;
        height: $xl-size;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Media query for desktop
@media (min-width: $desktop-breakpoint) {
    .navbar {
        display: block;
    }

    .navbar-content {
        flex-direction: row;
    }

    .navbar-header {
        display: auto;
    }

    .navbar-logo {
        align-self: auto;
        margin-top: 0;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-items, .navbar-items-hide {
        box-shadow: none;
        display: flex;
        padding-top: $xs-size;
        width: auto;
        padding-left: 0;
        margin-top: 0;
    }

    .navbar-item {
        display: flex;
        margin-right: $m-size;
    }

    .navbar-link {
        margin-left: $l-size;
    }
}