// Colors
$dark-grey: #282c34;
$off-white: #f3f0e9;
$primary: #883fb8;
$stone: #e2d5cc;

// Images
$banner: url('../../res/banner.png');

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

:export {
    primary: $dark-grey;
}